<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="Testing.Selenium_Automation.HomePageTest"/>
      <class name="Testing.Selenium_Automation.TitleValidationTest"/>
      <class name="Testing.Selenium_Automation.HomeValidationTest"/>
      <class name="Testing.Selenium_Automation.SigninPageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
